* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

::-webkit-scrollbar {
    width: 0;
}

.container {
    height: 100%;
    margin: 0 auto;
    display: block;
    max-width: 480px;
    /* width: 480px;  */
    background: #FFAB91; 
    /* padding-bottom: 50px; */
    
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #FFAB91;
    overflow-x: hidden;  
}

.common-rectangle{
    /* position: fixed; */
    margin: auto;
    position: relative; 
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    border-radius: 0px 0px  30px 30px;
    box-shadow: none;
    margin-bottom: 16px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
}

.rectangle-main {
    position: absolute;
    width: 26.6%;
    height: 30px;
    background: #D9D9D9;
    border-radius: 15px 15px 15px 15px;
    margin-left: 62px;
    margin-top: 20px;;
    margin-bottom: 30px;
    box-shadow: none;
    
}

.search{
    position: relative;
    width: 95%;
    height: 90px;
    background: #FFFFFF;
    border-radius: 90px;
    margin: auto;
    box-shadow: none;
    margin-bottom: 16px;
}

/* .section2{
    padding-bottom: ;
} */
/* 
.profile-info-inner{
    width: 100%;
    /* padding: 20px; 
} */

.inner-search{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 50%; 
    left: 50%;                       
    transform: translate(-50%, -50%);
    width: 91%;
    height: 50px;
    background: #FFFFFF;
    border: solid #000000;
    border-radius: 86px;
    border-width: 3px;
    margin: auto;
    box-shadow: none;
    
    
}

.img-search{
    max-width: 22px;
    max-height: 22px;
}

form {
   position: relative;
    width: 200px;
    background: #A3D0C3;
  }
  input {
    border: none;
    outline: none;
    background: transparent;
  }

  .button-search{
    border: none;
    outline: none;
    background: transparent;
  }

  input {
    height: 42px;
    padding-left: 27px;
  }
  .button-search {
    position: absolute;
    width: 30px;
    height: 30px;
    /* background: #000000; */
    border-radius: 26px;
    margin: auto;
    top: 32px;
    right: 32px;
    cursor: pointer;
  }

  .main-content-search-change {
    padding-bottom: 76px;
    margin: auto;
    width: 95%;
    height: 700px;
    background: #FFFFFF;
    border-radius: 56px;
}

  .get-post-a{
    text-decoration: none;
    cursor: pointer;
    color:#000000
  }

  input:invalid:required {
    border: 3px solid black;
  }

  input:valid {
    transition: 0.3s;
    border: 3px solid #fdd0c2;
  }

  button:hover{
    transition: 0.3s;
    background-color:  #FFAB91;
  }

  .main-content-book{
    padding-bottom:76px;
    margin: auto;
    width: 95%; 
    height: 100%;
    background: #FFFFFF;
    border-radius:56px;
    
}


.main-content-test{
    /* padding-bottom:76px; */
    margin-left:16px;
    margin-right: 16px;
    /* width: 95%;  */
    height: 100%;
    background: #FFFFFF;
    border-radius:56px;
}

/* .options-button{
    margin-top: 200px;
} */

.test-button{
    padding: 0px 16px 0px 16px;
}

.author-name{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 139.9%;
}

.book-description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.main-content-search{
    padding-bottom:76px;
    margin: auto;
    width: 95%;
    height: 670px;
    background: #FFFFFF;
    border-radius: 56px;
    
}

.greeting-container{
    padding: 40px 0px 0px 52px;
}

.greeting-container-change{
    padding: 0px 0px 0px 52px;
}

.greeting{
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
}

.lets-try{
    max-width: 350px;
    width: 95%;
    font-style: normal;
    margin-top: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(0, 0, 0, 0.4);;
}

.lets-try-change{
    max-width: 350px;
    width: 95%;
    font-style: normal;
    margin-top: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(0, 0, 0, 0.4);;
}

.profile-info {
    padding: 20px 16px 16px 16px;
    /* padding-bottom: 76px; */
    margin: auto;
    width: 95%;
    height: 100%;
    background: #ffffff;
    border-radius: 35px;
    padding-top: 20px;
    margin-bottom: 16px;
    }

.profile-info-container{
    margin-left: 4px;
    margin-right: 4px;
}

.profile-info-inner{
   
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    /* margin-bottom: 20px; */
}

.nav-bar{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 10px;
    margin-left: 50px;
}

/* .nav-bar:not(:last-child){
    margin-left: 30px;
} */

.photo-container{
    width: 210px;
    height: 100%;
}

.contacts-with-point{
    margin: 0px 15% 0px 15%;
}

.info1-change {
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 6px;
    /* justify-content: flex-start; */
    margin-left: 1px
}

.info1 {
    margin-bottom: 10px;
    /* justify-content: flex-start; */
    margin-left: 1px
}

.profile-image{
        /* margin: auto; */
        width: 100%;
        /* margin-top: 20px; */
        max-width: 130px;
        /* width: 130px; */
        /* position: absolute; */
        /* margin: auto; */
        width: 100%;
        /* height: 130px; */
        border-radius: 65px;
        object-fit: cover;
}

.profile-inner-photo{
    max-width: 130px;
    height: 130px;
    background: #D9D9D9;
    border-radius: 65px;
}

.profile-inner-content{
    margin-left: 20px;
}
.bottom-rectangle{
    padding-top: 10px;
    margin: auto;
    position: relative;
    /* padding: 0% 2% 0% 2%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom:0px;
    max-width: 480px;
    width: 100%;
    height: 84px;
    background: #FFFFFF;
    border-radius: 30px 30px  0px 0px;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
    
}

.img-icons {
    max-width: 30px;
    max-height: 30px;
}

a:hover{
    transition: 0.2s;
    background-color: #fdd0c2;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #FFAB91;
}

.home-with-point,.search-with-point,.mail-with-point,.get-with-icon,.post-with-icon,.medal-with-point,.book-with-point,.contacts-with-point,.list-with-point,.user-with-point{ 
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    margin-bottom: 14px;
}

.get-with-icon,.post-with-icon{ 
    margin-bottom: 0px;
}

.point-home,.point-search,.point-mail,.point-get,.point-post,.point-medal,.point-book,.point-contacts,.point-list,.point-user{
    margin-bottom: 6px;
    height: 8px;
    width: 8px;
    top:10px;
    background: #FFAB91;
    border-radius: 10px;
}

.point-get,.point-post{
    margin-top: 0px;
}

.point-post-hover{
    background: #ffffff;;
}

.point-get-hover{
    background: #ffffff;;
}

.point-contacts-hide,.point-list-hide,.point-book-hide{
    background: #ffffff;;
}

.home-icon,.search-icon,.mail-icon,.get-icon,.post-icon,.medal-icon,.book-icon,.contacts-icon,.list-icon,.user-icon{
    position: relative;
}

.search-icon{
    margin-right: 5px;
}

.lenta{
    padding: 40px 0px 24px  40px; 
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    margin-left: 12px;

}

/* .comment-change{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 24px;
} */

.two-buttons{
    margin-top: 20px;
display: flex;
/* align-items: center; */
justify-content: space-between;
}

.lower{
    margin-top: 60px;
    padding-top: 80px;
}

.change-button,.delete-button{
    margin-top: 5px;
    background-color: #F2F2F2;
    width: 48.8%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.book-photo{
    margin-bottom: 12px;
}

.add-to-wishlist,.profile-inner-button{
    /* margin: 0px 0px 28px 20px;
    margin-left: 5%;
    background-color: #ffffff;
    width: 90%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000; */
    /* margin: 0px 0px 28px 13px;
    margin-left: 16px;
    background-color: #ffffff;
    width: 93%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000; */

    margin: 0px 0px 28px 0px;
    /* margin-left: 16px; */
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.get,.post{
    text-align: center;
}

.get-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 24px 40px; 
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}

.book-container{
    margin: auto;
    height: 100%;
    padding-bottom: 20px;
    width: 90%;
    background: #F2F2F2;
    border-radius: 35px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
}

.book-attributes{ 
    padding: 32px 16px 0px 16px;
    

}

.caption,.authors,.icon1,.comment,.comment-change{
    margin-left: 12px;
}

.books-icons{
    /* margin:0 auto; */
    margin-left: 12px; 
    margin-bottom: 20px;
    margin-top: 20px;
}

.book-image{
    margin-top: 20px;
    /* position: absolute; */
    /* margin: auto; */
    width: 100%;
    /* height: 90%; */
    border-radius: 24px;
    object-fit: cover;
}

.icon1,.icon2,.icon3,.icon4,.icon5{
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.info1,.info2,.info3,.info4{
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 10px;
    
}

.caption{
    max-width: 360px;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 24px;
    margin-bottom: 12px;
}



.date{
    
    margin-top: 3px;
    margin-left: 16px;
    /* padding-right: 34px; */
    font-weight: 400;
    font-size: 10px;
    line-height: 139.9%;
}

.info3-margin{
    margin-left: 12px;
}

.conteiner-for-authors{
    width: 380px;
    height: 20px;
    background:#A3D0C3;
}

.authors{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 139.9%;
}

.profile-name{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 139.9%;
    text-decoration-line: underline;
    color: #000000;
}

.name-for-fonts{
    font-weight: 700;
    font-size: 14px;
    line-height: 139.9%;
}

.info3-fonts{
    font-weight: 700;
    font-size: 14px;
    line-height: 139.9%;
}

.comment{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.comment-fonts{
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon5{
    margin-left: 24px;
}

.description{
    font-style: normal;
font-weight: 400;
font-size: 14px;
}

.button-add {
    margin-top: 5px;
    background-color: #F2F2F2;;
    width: 100%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    
}

.button-p,.profile-inner-button{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 139.9%;

text-align: center;
}


.button-add:hover {
    transition: 0.2s;
	background-color: #A3D0C3;
    cursor: pointer;
}

.options-button{
    margin:16px 0px 0px 0px;
    width: 100%;
}

.nav-content{
    margin-top: 10px;
    font-weight: 600;
font-size: 12px;
line-height: 15px;
    /* padding: 20px 0px 24px 0px; */
}

.point-list,.point-book,.point-contacts{
    margin-top: 30px;
    margin-bottom: 0px;
}

.list-icon,.book-icon,.contacts-icon{
    text-decoration: none;
    color: #000000;
}

.book-image-change{
    /* margin-top: 20px; */
    /* position: absolute; */
    /* margin: auto; */
    width: 100%;
    /* height: 90%; */
    border-radius: 24px;
    object-fit: cover;
}

.book-attributes-change {
    padding: 18px 16px 0px 16px;
}

/* .main-content-book {
    padding-bottom: 76px;
    margin: auto;
    width: 95%;
    height: 670px;
    background: #FFFFFF;
    border-radius: 56px;
} */
  

@media (max-width: 360px){
    .img-icons{
        max-width: 25px;
        max-height: 25px;
    } 
}

@media (max-width: 410px){
    .author-name {    
        margin-top: 8px;
        font-size: 22px;
        line-height: 15px;
      
    }

    .description {
        font-size: 12px;
    }

    .book-description {
        font-size: 11px;
        line-height: 15px;
    }

    .info2{
        margin-bottom: 5px;
    }
}

@media (max-width: 370px){
    .author-name {    
        margin-top: 8px;
        font-size: 20px;
        line-height: 15px;
      
    }

    .description {
        font-size: 10px;
    }

    .book-description {
        font-size: 10px;
        line-height: 15px;
    }

    .info2{
        margin-bottom: 5px;
    }
}
