* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

::-webkit-scrollbar {
    width: 0;
}

.container {
    height: 100%;
    margin: 0 auto;
    display: block;
    max-width: 480px;
    /* width: 480px;  */
    background: #FFAB91; 
    /* padding-bottom: 50px; */
    
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #FFAB91;
    overflow-x: hidden;  
}

.common-rectangle{
    /* position: fixed; */
    margin: auto;
    position: relative; 
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    border-radius: 0px 0px  30px 30px;
    box-shadow: none;
    margin-bottom: 16px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
}

.rectangle-main {
    position: absolute;
    width: 26.6%;
    height: 30px;
    background: #D9D9D9;
    border-radius: 15px 15px 15px 15px;
    margin-left: 32px;
    margin-top: 20px;;
    margin-bottom: 30px;
    box-shadow: none;
    
}

.search{
    position: relative;
    width: 95%;
    height: 90px;
    background: #FFFFFF;
    border-radius: 90px;
    margin: auto;
    box-shadow: none;
    margin-bottom: 16px;
}

.inner-search{
    position: absolute;
    top: 50%; 
    left: 50%;                       
    transform: translate(-50%, -50%);
    width: 91%;
    height: 50px;
    background: #FFFFFF;
    border: solid #000000;
    border-radius: 86px;
    border-width: 3px;
    margin: auto;
    box-shadow: none;
    
}

form {
   position: relative;
    width: 200px;
    background: #A3D0C3;
  }
  input {
    border: none;
    outline: none;
    background: transparent;
  }

  .button-search{
    border: none;
    outline: none;
    background: transparent;
  }

  input {
    height: 42px;
    padding-left: 15px;
  }
  .button-search {
    position: absolute;
    width: 26px;
    height: 26px;
    background: #000000;
    border-radius: 26px;
    margin: auto;
    top: 32px;
    right: 32px;
    cursor: pointer;
  }

  .get-post-a{
    text-decoration: none;
    cursor: pointer;
    color:#000000
  }

  input:invalid:required {
    border: 3px solid black;
  }

  input:valid {
    transition: 0.3s;
    border: 3px solid #fdd0c2;
  }

  button:hover{
    transition: 0.3s;
    background-color:  #FFAB91;
  }

.main-content-book{
    padding-bottom:76px;
    margin: auto;
    width: 95%; 
    height: 100%;
    background: #FFFFFF;
    border-radius:56px;
    
}

/* .options-button{
    margin-top: 200px;
} */

.author-name{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 139.9%;
}

.book-description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.main-content-search{
    padding-bottom:76px;
    margin: auto;
    width: 95%;
    height: 670px;
    background: #FFFFFF;
    border-radius: 56px;
    
}

.greeting-container{
    padding: 40px 0px 0px 40px;
}

.greeting{
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
}

.lets-try{
    max-width: 350px;
    width: 95%;
    font-style: normal;
    margin-top: 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: rgba(0, 0, 0, 0.4);;
}

.profile-info{
    padding: 20px 20px 0px 20px;
    padding-bottom: 76px;
    margin: auto;
    width: 95%;
    height: 240px;
    background: #ffffff;
    border-radius: 35px;
    padding-top: 20px;
    margin-bottom: 16px;
    

}



.profile-info-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.profile-inner-photo{
    width: 130px;
    height: 130px;
    background: #D9D9D9;
    border-radius: 65px;
}

.profile-inner-content{
    margin-left: 20px;
}
.bottom-rectangle{
    padding-top: 10px;
    margin: auto;
    position: relative;
    /* padding: 0% 2% 0% 2%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom:0px;
    max-width: 480px;
    width: 100%;
    height: 84px;
    background: #FFFFFF;
    border-radius: 30px 30px  0px 0px;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
    
}

.img-icons {
    max-width: 30px;
    max-height: 30px;
}

a:hover{
    transition: 0.2s;
    background-color: #fdd0c2;
    border-radius: 10px;
    box-shadow: 0 0 25px 5px #FFAB91;
}

.home-with-point,.search-with-point,.mail-with-point,.get-with-icon,.post-with-icon,.medal-with-point,.book-with-point,.contacts-with-point,.list-with-point{ 
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    margin-bottom: 14px;
}

.get-with-icon,.post-with-icon{ 
    margin-bottom: 0px;
}

.point-home,.point-search,.point-mail,.point-get,.point-post,.point-medal,.point-book,.point-contacts,.point-list{
    margin-bottom: 6px;
    height: 8px;
    width: 8px;
    top:10px;
    background: #FFAB91;
    border-radius: 10px;
}

.point-get,.point-post{
    margin-top: 0px;
}

.point-post-hover{
    background: #ffffff;;
}

.point-get-hover{
    background: #ffffff;;
}

.contacts-hide,.list-hide{
    background: #ffffff;;

}

.home-icon,.search-icon,.mail-icon,.get-icon,.post-icon,.medal-icon,.book-icon,.contacts-icon,.list-icon{
    position: relative;
}

.search-icon{
    margin-right: 5px;
}

.lenta{
    padding: 40px 0px 24px  40px; 
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

}

.two-buttons{
display: flex;
/* align-items: center; */
justify-content: space-between;
}

.change-button,.delete-button{
    margin-top: 5px;
    background-color: #F2F2F2;
    width: 48.8%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.add-to-wishlist,.profile-inner-button{
    margin: 0px 0px 28px 20px;
    margin-left: 5%;
    background-color: #ffffff;
    width: 90%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.get,.post{
    text-align: center;
}

.get-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px 24px 40px; 
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
}

.book-container{
    margin: auto;
    height: 100%;
    padding-bottom: 20px;
    width: 90%;
    background: #F2F2F2;
    border-radius: 35px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
}

.book-attributes{ 
    padding: 32px 16px 0px 16px;
    

}

.caption,.authors,.icon1,.comment{
    margin-left: 4px;
}

.books-icons{
    /* margin:0 auto; */
   /* margin-left: 8%;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.book-image{
    margin-top: 20px;
    /* position: absolute; */
    /* margin: auto; */
    width: 100%;
    /* height: 90%; */
    border-radius: 24px;
    object-fit: cover;
}

.icon1,.icon2,.icon3,.icon4,.icon5{
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.info1,.info2,.info3,.info4{
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 10px;
    
}

.caption{
    max-width: 360px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
}

.date{
    position: absolute;
    margin-top: 3px;
    margin-left: 150px;
    padding-right: 34px;
    font-weight: 400;
    font-size: 10px;
    line-height: 139.9%;
}

.info3-margin{
    margin-left: 3.5px;
}

.conteiner-for-authors{
    width: 380px;
    height: 20px;
    background:#A3D0C3;
}


.authors{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 139.9%;
}

.profile-name{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 139.9%;
    text-decoration-line: underline;
}

.name-for-fonts{
    font-weight: 700;
    font-size: 14px;
    line-height: 139.9%;
}

.info3-fonts{
    font-weight: 700;
    font-size: 14px;
    line-height: 139.9%;
}

.comment{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
}

.comment-fonts{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon5{
    margin-left: 24px;
}

.description{
    font-style: normal;
font-weight: 400;
font-size: 13px;
}

.button-add {
    margin-top: 5px;
    background-color: #F2F2F2;;
    width: 100%;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 86px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    
}

.button-p,.profile-inner-button{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 139.9%;

text-align: center;
}


.button-add:hover {
    transition: 0.2s;
	background-color: #A3D0C3;
    cursor: pointer;
}

.options-button{
    margin:0px 0px 0px 0px;
    width: 100%;
}

.nav-content{
    margin-top: 10px;
    font-weight: 600;
font-size: 12px;
line-height: 15px;
    /* padding: 20px 0px 24px 0px; */
}

.point-list,.point-book,.point-contacts{
    margin-top: 30px;
    margin-bottom: 0px;
}

.list-icon,.book-icon,.contacts-icon{
    text-decoration: none;
    color: #000000;
}

/* @media (max-width: 480px){
    .container{
       width: 100vw;
        height: 100%;
    margin: auto;
    display: block;
    }
} */