<!DOCTYPE html>

{% load static %}
{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Booka | Поиск</title>
</head>


<body>
{% if not search_req %}
<script>document.querySelector('body').style.overflow = "hidden";</script>
{% endif %}
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>

            <form class="search" method="get">
                <input name="search" class="inner-search super" type="text" maxlength="100" placeholder="Введите название книги или автора" required
                value="{% if search_req %}{{search_req}}{% endif %}">
                <button class="button-search" id="circle" type="submit">
                    <img class="img-search" src="{{MEDIA_URL}}images/search.png" >
                </button>
            </form>

                {% if not search_req %}
        <div class="main-content-search">
            <div class="greeting-container">
            <p class="greeting">Результат поиска
                </p>

                <p class="lets-try">Давайте попробуем<br> найти то, что Вы<br>хотите :))
                </p>
            </div>
        </div>

            {% else %}

                {% if book_list %}
            <div class="main-content-book">
            <p class="lenta">Результат поиска</p>

            {% for book, contact in book_list %}
       <section>
            <div class="book-container">
                <div class="book-attributes-change">
                    <p class="caption">{{book.name}}</p>
                    <p class="authors">
                        {% for author in book.authors.all %}
                        — {{author.name}}
                        {% endfor %}
                    </p>
                    <div class="info1-change">
                        <img class="icon1" src="{{MEDIA_URL}}images/user.png">
                        <a href="{% url 'profile_app:books-profile' book.owner.id %}" class="profile-name">{{book.owner.username}}</a>

                    </div>
                    {% if book.description %}
                    <p class="comment">{{book.description}}</p>
                    {% endif %}
                    {% if book.image %}
                    <div class="book-photo">
                        <img class="book-image" src="{{MEDIA_URL}}{{book.image}}">
                    </div>
                    {% endif %}
                    <div class="books-icons">
                        {% if book.city %}
                        <div class="info2"><img class="icon2" src="{{MEDIA_URL}}images/placeholder.png"><span class="description">{{book.city}}</span></div>
                        {% else %}
                        <div class="info2"><img class="icon2" src="{{MEDIA_URL}}images/placeholder.png"><span class="description">Город не указан</span></div>
                        {% endif %}
                        {% if contact %}
                        <div class="info3"><img class="icon3" src="{{MEDIA_URL}}images/smartphone.png"><span class="description">{{contact.contact_type}}: {{contact.contact}}</span></div>
                        {% else %}
                        <div class="info3"><img class="icon3" src="{{MEDIA_URL}}images/smartphone.png"><span class="description">Контакты не указаны</span></div>
                        {% endif %}
                        {% if book.language %}
                        <div class="info4"><img class="icon4" src="{{MEDIA_URL}}images/chat.png"><span class="description">{{book.language}}</span>
                            {% else %}
                             <div class="info4"><img class="icon4" src="{{MEDIA_URL}}images/chat.png"><span class="description">Язык не указан</span>
                                 {% endif %}
                            {% if book.year %}
                            <img class="icon5" src="{{MEDIA_URL}}images/folder.png"><span class="description">{{book.year}}</span>
                            {% else %}
                            <img class="icon5" src="{{MEDIA_URL}}images/folder.png"><span class="description">Год издания не указан</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if userid != book.owner.id %}
                <a href="{% url 'notification:notif-create' book.owner.id book.id %}?next={{ request.path|urlencode }}{% if search_req %}?search={{search_req}}{% endif %} ">
                <button class="button-add">
                        <p class="button-p">Запросить книгу через сайт</p>
                </button>
                </a>
                    {% endif %}
                </div>

            </div>
        </section>

        {% endfor %}
                    </div>
                {% else %}

        <div class="main-content-search">
            <div class="greeting-container">
            <p class="greeting">Результат поиска
                </p>

                <p class="lets-try">Пока таких книжек<br>на буке нет :((
                </p>
            </div>
        </div>
            <script>document.querySelector('body').style.overflow = "hidden";</script>
                {% endif %}

            {% endif %}

        <div class="bottom-rectangle">

<div class="home-with-point">
                <div class="point-home point-home-hide "> </div>
            <a class="home-icon home-hover" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
     </div>
     <div class="search-with-point">
                <div class="point-search point-search-margin"></div>
            <a class="search-icon search-hover" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
    </div>
    <div class="mail-with-point">
                <div class="point-mail point-mail-hide"></div>
            <a class="mail-icon mail-hover" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
    </div>
     <div class="medal-with-point">
                <div class="point-medal point-medal-hide"></div>
            <a class="medal-icon medal-hover" href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
    </div>

            <div class="user-with-point">
                <div class="point-user point-user-hide"> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" class="user-hover user-icon"><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>

        </div>

    </header>

<script>

     var pointuser1 = document.querySelector(".user-hover");
var pointuser11 = document.querySelector(".point-user");
var pointmedal1 = document.querySelector(".medal-hover");
var pointmedal11 = document.querySelector(".point-medal");
var pointsearch1 = document.querySelector(".search-hover");
var pointsearch11 = document.querySelector(".point-search");
var pointmail1 = document.querySelector(".mail-hover");
var pointmail11 = document.querySelector(".point-mail");
var pointhome1 = document.querySelector(".home-hover");
var pointhome11 = document.querySelector(".point-home");


pointuser1.addEventListener("mouseover", function() {
    document.querySelector(".point-user-hide").style.background = "#FFAB91"
    pointuser11.style.width = "30px";
    pointuser11.style.height = "3px";
    pointuser11.style.borderRadius = "10px";
    pointuser11.style.marginBottom = "11px";
    pointuser11.style.transition = "0.3s";
})

pointuser1.addEventListener("mouseout", function() {
    document.querySelector(".point-user-hide").style.background = "#FFFFFF"
    pointuser11.style.marginBottom = "6px";
    pointuser11.style.width = "8px";
    pointuser11.style.height = "8px";
})

pointmedal1.addEventListener("mouseover", function() {
    document.querySelector(".point-medal-hide").style.background = "#FFAB91"
    pointmedal11.style.width = "30px";
    pointmedal11.style.height = "3px";
    pointmedal11.style.borderRadius = "10px";
    pointmedal11.style.marginBottom = "11px";
    pointmedal11.style.transition = "0.3s";
})

pointmedal1.addEventListener("mouseout", function() {
    document.querySelector(".point-medal-hide").style.background = "#FFFFFF"
    pointmedal11.style.marginBottom = "6px";
    pointmedal11.style.width = "8px";
    pointmedal11.style.height = "8px";
})

pointmail1.addEventListener("mouseover", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFAB91"
    pointmail11.style.width = "30px";
    pointmail11.style.height = "3px";
    pointmail11.style.borderRadius = "10px";
    pointmail11.style.marginBottom = "11px";
    pointmail11.style.transition = "0.3s";
})

pointmail1.addEventListener("mouseout", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFFFFF"
    pointmail11.style.marginBottom = "6px";
    pointmail11.style.width = "8px";
    pointmail11.style.height = "8px";
})

pointsearch1.addEventListener("mouseover", function() {

    document.querySelector(".point-search-margin").style.marginLeft= "0px"
    pointsearch11.style.width = "30px";
    pointsearch11.style.height = "3px";
    pointsearch11.style.borderRadius = "10px";
    pointsearch11.style.marginBottom = "11px";
    pointsearch11.style.transition = "0.3s";
})

pointsearch1.addEventListener("mouseout", function() {
    document.querySelector(".point-search-margin").style.marginLeft= "5px"

    pointsearch11.style.marginBottom = "6px";
    pointsearch11.style.width = "8px";
    pointsearch11.style.height = "8px";
})

pointhome1.addEventListener("mouseover", function() {
    document.querySelector(".point-home-hide").style.background = "#FFAB91"
    pointhome11.style.width = "30px";
    pointhome11.style.height = "3px";
    pointhome11.style.borderRadius = "10px";
    pointhome11.style.marginBottom = "11px";
    pointhome11.style.transition = "0.3s";
})

pointhome1.addEventListener("mouseout", function() {
    document.querySelector(".point-home-hide").style.background = "#FFFFFF"
    pointhome11.style.marginBottom = "6px";
    pointhome11.style.width = "8px";
    pointhome11.style.height = "8px";
})

<!--Iphone-->

     var pointuser1 = document.querySelector(".user-hover");
var pointuser11 = document.querySelector(".point-user");
var pointmedal1 = document.querySelector(".medal-hover");
var pointmedal11 = document.querySelector(".point-medal");
var pointsearch1 = document.querySelector(".search-hover");
var pointsearch11 = document.querySelector(".point-search");
var pointmail1 = document.querySelector(".mail-hover");
var pointmail11 = document.querySelector(".point-mail");
var pointhome1 = document.querySelector(".home-hover");
var pointhome11 = document.querySelector(".point-home");


pointuser1.addEventListener("touchstart", function() {
    document.querySelector(".point-user-hide").style.background = "#FFAB91"
    pointuser11.style.width = "30px";
    pointuser11.style.height = "3px";
    pointuser11.style.borderRadius = "10px";
    pointuser11.style.marginBottom = "11px";
    pointuser11.style.transition = "0.3s";
})

pointuser1.addEventListener("touchmove", function() {
    document.querySelector(".point-user-hide").style.background = "#FFFFFF"
    pointuser11.style.marginBottom = "6px";
    pointuser11.style.width = "8px";
    pointuser11.style.height = "8px";
})

pointmedal1.addEventListener("touchstart", function() {

    pointmedal11.style.width = "30px";
    pointmedal11.style.height = "3px";
    pointmedal11.style.borderRadius = "10px";
    pointmedal11.style.marginBottom = "11px";
    pointmedal11.style.transition = "0.3s";
})

pointmedal1.addEventListener("touchmove", function() {

    pointmedal11.style.marginBottom = "6px";
    pointmedal11.style.width = "8px";
    pointmedal11.style.height = "8px";
})

pointmail1.addEventListener("touchstart", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFAB91"
    pointmail11.style.width = "30px";
    pointmail11.style.height = "3px";
    pointmail11.style.borderRadius = "10px";
    pointmail11.style.marginBottom = "11px";
    pointmail11.style.transition = "0.3s";
})

pointmail1.addEventListener("touchmove", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFFFFF"
    pointmail11.style.marginBottom = "6px";
    pointmail11.style.width = "8px";
    pointmail11.style.height = "8px";
})

pointsearch1.addEventListener("touchstart", function() {
    document.querySelector(".point-search-hide").style.background = "#FFAB91"
    document.querySelector(".point-search-margin").style.marginLeft= "0px"
    pointsearch11.style.width = "30px";
    pointsearch11.style.height = "3px";
    pointsearch11.style.borderRadius = "10px";
    pointsearch11.style.marginBottom = "11px";
    pointsearch11.style.transition = "0.3s";
})

pointsearch1.addEventListener("touchmove", function() {
    document.querySelector(".point-search-margin").style.marginLeft= "5px"
    document.querySelector(".point-search-hide").style.background = "#FFFFFF"
    pointsearch11.style.marginBottom = "6px";
    pointsearch11.style.width = "8px";
    pointsearch11.style.height = "8px";
})

pointhome1.addEventListener("touchstart", function() {
    document.querySelector(".point-home-hide").style.background = "#FFAB91"
    pointhome11.style.width = "30px";
    pointhome11.style.height = "3px";
    pointhome11.style.borderRadius = "10px";
    pointhome11.style.marginBottom = "11px";
    pointhome11.style.transition = "0.3s";
})

pointhome1.addEventListener("touchmove", function() {
    document.querySelector(".point-home-hide").style.background = "#FFFFFF"
    pointhome11.style.marginBottom = "6px";
    pointhome11.style.width = "8px";
    pointhome11.style.height = "8px";
})

</script>

</body>

{% endblock %}

</html>
















