{% block title %} Books view {% endblock %}

{% block content %}
    <a href="{% url 'books:book-create' %}" >Добавить книгу</a>
    <h2>Список книг</h2>

    {% for book in book_list %}
       <img src="{{MEDIA_URL}}{{book.image}}"><br>

        Название: {{ book.name }}<br>

        Автор:

        {% for author in book.authors.all %}
        {{ author.name }} <br>

        {% endfor %}

        Год: {{ book.year }}<br>
        Язык: {{ book.language }}<br>
        Владелец: {{ book.owner.username }}
        Описание: <br>
        {{ book.description }}<br>
        {% if current_user.id == book.owner.id %}
        <a href="{% url 'books:book-update' book.id %}" >Изменить</a> | <a href="{% url 'books:book-delete' book.id %}" >Удалить</a><br>

        {% else %}
        <a href="{% url 'notification:notif-create' book.owner.id book.id %}"> Запросить книгу </a>

        {% endif %}
    {% endfor %}

{% endblock %}