<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}
{% block content %}
{% load widget_tweaks %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
        <title>Document</title>
    </head>

    <body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if type == 1 %}
                <div class="main-content-options">
                    <p class="lenta">Добавление книги</p>
                    {% else %}
                <div class="main-content-options">
                    <p class="lenta">Добавление книги в виш-лист</p>
                    {% endif %}

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Название</p>
                                    <div class="add-book-name">
                                    {{form.name}}
                                    </div>
                            </div>
                        </div>
                    </section>

                    {% if form.name.errors %}
            {% for error in form.name.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Авторы</p>
                                <div class="add-book-name">
                                    {{form.authors}}
                                </div>
                                <p class="comment-for-authors">Вводите автора внимательно, чтобы люди смогли найти Вашу книжку, забив автора в поиск!
                                   <br>
                                    <br>Если авторов несколько, введите всех через запятую</p>
                            </div>
                        </div>
                    </section>

                                        {% if form.authors.errors %}
            {% for error in form.authors.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    {% if type == 1 %}
                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Фото</p>
                                <div class="file-form">
                                    <div class="choose-file-container">
                                        <label class="choose-file-button" id="test">
                                            {{form.image|attr:'required:true'}}
                                            <span class="button-file">CHOOSE FILE</span></label>
                                    </div>
                                </div>
                                <p class="comment-for-photo">Сфотографирайте книгу так, чтобы она была в центре. Все фото обрезаются под квадрат, будьте внимательны, чтобы фото Вашей книги выглядело хорошо
                            <br>
                            <br>ФОТО ЗАГРУЗИТЬ ОБЯЗАТЕЛЬНО</p>
                            </div>
                        </div>
                    </section>

                    {% if form.image.errors %}
            {% for error in form.image.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Описание</p>
                                <div class="add-book-description">
                                    {{form.description}}
                                </div>
                                <p class="comment-for-authors">Здесь Вы можете написать свое мнение о книге. Для кого она может быть интересна, а для кого — нет.
                                    <br>
                                    <br>Так же здесь Вы можете написать условия обмена книги или свои пожелания к обмену</p>
                            </div>
                        </div>
                    </section>

                    {% if form.description.errors %}
            {% for error in form.description.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Язык</p>
                                <div class="add-book-name">
                                    {{form.language}}
                                </div>
                            </div>

                        </div>
                    </section>

                    {% if form.language.errors %}
            {% for error in form.language.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Год издания</p>
                                <div class="add-book-name">
                                    {{form.year}}
                                    </div>
                            </div>
                        </div>
                    </section>

                    {% if form.year.errors %}
            {% for error in form.year.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
                {% endfor %}
                {% endif %}

                    {% endif %}
                </div>


                <div class="last-button">
                    <button class="last-button-add" type="submit" id="upload" name="next" value="{{ request.GET.next }}">
                        {% if type == 1 %}
                        <p class="button-p">Добавить книгу</p>
                        {% else %}
                        <p class="button-p">Добавить книгу в виш-лист</p>
                        {% endif %}
                    </button>
                </div>

       </form>

                 <div class="bottom-rectangle">

<div class="home-with-point">
                <div class="point-home point-home-hide "> </div>
            <a class="home-icon home-hover" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
     </div>
     <div class="search-with-point">
                <div class="point-search point-search-margin point-search-hide"></div>
            <a class="search-icon search-hover" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
    </div>
    <div class="mail-with-point">
                <div class="point-mail point-mail-hide"></div>
            <a class="mail-icon mail-hover" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
    </div>
     <div class="medal-with-point">
                <div class="point-medal point-medal-hide"></div>
            <a class="medal-icon medal-hover" href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
    </div>

            <div class="user-with-point">
                <div class="point-user "> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" class="user-hover user-icon"><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>

            </div>
        </header>
        <script>

// filter: blur(10px);


            let inputs = document.querySelectorAll('.file-input');
            Array.prototype.forEach.call(inputs, function(input) {
                input.addEventListener('change', function(e) {
                    test.style.transitionProperty = 'background-color';
                    test.style.transitionDuration = "0.3s";
                    // let counter = 5;
                    // document.querySelector('.button-file').innerText = 'ЗАГРУЗКА...';
                    // let timer = setInterval(function() {
                    //     // let timePassed = Date.now() - start;
                    //     test.style.marginLeft = counter + 'px';
                    //     if (counter >= document.getElementById('choose-file-container').offsetWidth) {
                    //         clearInterval(timer);
                            test.style.float = 'right';
                            document.querySelector('.choose-file-button').style.backgroundColor = '#FFAB91';
                            document.querySelector('.button-file').innerText = 'ЗАГРУЖЕНО';
                            document.querySelector('.button-file').style.color = "#ffffff";
                            // document.querySelector('body').style.overflowY = "hidden";
                    //     }
                    //     counter *= 1.2;
                    // }, 30);
                    //   document.querySelector('.button-file').innerText = 'ЗАГРУЖЕНО'; 
                    //   document.querySelector('.button-file').style.color = "#ffffff";
                    //   document.querySelector('.choose-file-button').style.float = 'right';
                    document.querySelector('.choose-file-button').style.border = '0px solid #000000';
                    document.querySelector('.choose-file-button').style.boxShadow = '-0.5px 0px 0px 2px rgb(0 0 0)';
                });
            });

              var pointuser1 = document.querySelector(".user-hover");
        var pointuser11 = document.querySelector(".point-user");
        var pointmedal1 = document.querySelector(".medal-hover");
        var pointmedal11 = document.querySelector(".point-medal");
        var pointsearch1 = document.querySelector(".search-hover");
        var pointsearch11 = document.querySelector(".point-search");
        var pointmail1 = document.querySelector(".mail-hover");
        var pointmail11 = document.querySelector(".point-mail");
        var pointhome1 = document.querySelector(".home-hover");
        var pointhome11 = document.querySelector(".point-home");


        pointuser1.addEventListener("mouseover", function() {
            pointuser11.style.width = "30px";
            pointuser11.style.height = "3px";
            pointuser11.style.borderRadius = "10px";
            pointuser11.style.marginBottom = "11px";
            pointuser11.style.transition = "0.3s";
        })

        pointuser1.addEventListener("mouseout", function() {
            pointuser11.style.marginBottom = "6px";
            pointuser11.style.width = "8px";
            pointuser11.style.height = "8px";
        })

        pointmedal1.addEventListener("mouseover", function() {
            document.querySelector(".point-medal-hide").style.background = "#FFAB91"
            pointmedal11.style.width = "30px";
            pointmedal11.style.height = "3px";
            pointmedal11.style.borderRadius = "10px";
            pointmedal11.style.marginBottom = "11px";
            pointmedal11.style.transition = "0.3s";
        })

        pointmedal1.addEventListener("mouseout", function() {
            document.querySelector(".point-medal-hide").style.background = "#FFFFFF"
            pointmedal11.style.marginBottom = "6px";
            pointmedal11.style.width = "8px";
            pointmedal11.style.height = "8px";
        })

        pointmail1.addEventListener("mouseover", function() {
            document.querySelector(".point-mail-hide").style.background = "#FFAB91"
            pointmail11.style.width = "30px";
            pointmail11.style.height = "3px";
            pointmail11.style.borderRadius = "10px";
            pointmail11.style.marginBottom = "11px";
            pointmail11.style.transition = "0.3s";
        })

        pointmail1.addEventListener("mouseout", function() {
            document.querySelector(".point-mail-hide").style.background = "#FFFFFF"
            pointmail11.style.marginBottom = "6px";
            pointmail11.style.width = "8px";
            pointmail11.style.height = "8px";
        })

        pointsearch1.addEventListener("mouseover", function() {
            document.querySelector(".point-search-hide").style.background = "#FFAB91"
            document.querySelector(".point-search-margin").style.marginLeft= "0px"
            pointsearch11.style.width = "30px";
            pointsearch11.style.height = "3px";
            pointsearch11.style.borderRadius = "10px";
            pointsearch11.style.marginBottom = "11px";
            pointsearch11.style.transition = "0.3s";
        })

        pointsearch1.addEventListener("mouseout", function() {
            document.querySelector(".point-search-margin").style.marginLeft= "5px"
            document.querySelector(".point-search-hide").style.background = "#FFFFFF"
            pointsearch11.style.marginBottom = "6px";
            pointsearch11.style.width = "8px";
            pointsearch11.style.height = "8px";
        })

        pointhome1.addEventListener("mouseover", function() {
            document.querySelector(".point-home-hide").style.background = "#FFAB91"
            pointhome11.style.width = "30px";
            pointhome11.style.height = "3px";
            pointhome11.style.borderRadius = "10px";
            pointhome11.style.marginBottom = "11px";
            pointhome11.style.transition = "0.3s";
        })

        pointhome1.addEventListener("mouseout", function() {
            document.querySelector(".point-home-hide").style.background = "#FFFFFF"
            pointhome11.style.marginBottom = "6px";
            pointhome11.style.width = "8px";
            pointhome11.style.height = "8px";
        })


<!--Iphone-->

        var pointuser1 = document.querySelector(".user-hover");
        var pointuser11 = document.querySelector(".point-user");
        var pointmedal1 = document.querySelector(".medal-hover");
        var pointmedal11 = document.querySelector(".point-medal");
        var pointsearch1 = document.querySelector(".search-hover");
        var pointsearch11 = document.querySelector(".point-search");
        var pointmail1 = document.querySelector(".mail-hover");
        var pointmail11 = document.querySelector(".point-mail");
        var pointhome1 = document.querySelector(".home-hover");
        var pointhome11 = document.querySelector(".point-home");


        pointuser1.addEventListener("touchstart", function() {
            pointuser11.style.width = "30px";
            pointuser11.style.height = "3px";
            pointuser11.style.borderRadius = "10px";
            pointuser11.style.marginBottom = "11px";
            pointuser11.style.transition = "0.3s";
        })

        pointuser1.addEventListener("touchmove", function() {
            pointuser11.style.marginBottom = "6px";
            pointuser11.style.width = "8px";
            pointuser11.style.height = "8px";
        })

        pointmedal1.addEventListener("touchstart", function() {
            document.querySelector(".point-medal-hide").style.background = "#FFAB91"
            pointmedal11.style.width = "30px";
            pointmedal11.style.height = "3px";
            pointmedal11.style.borderRadius = "10px";
            pointmedal11.style.marginBottom = "11px";
            pointmedal11.style.transition = "0.3s";
        })

        pointmedal1.addEventListener("touchmove", function() {
            document.querySelector(".point-medal-hide").style.background = "#FFFFFF"
            pointmedal11.style.marginBottom = "6px";
            pointmedal11.style.width = "8px";
            pointmedal11.style.height = "8px";
        })

        pointmail1.addEventListener("touchstart", function() {
            document.querySelector(".point-mail-hide").style.background = "#FFAB91"
            pointmail11.style.width = "30px";
            pointmail11.style.height = "3px";
            pointmail11.style.borderRadius = "10px";
            pointmail11.style.marginBottom = "11px";
            pointmail11.style.transition = "0.3s";
        })

        pointmail1.addEventListener("touchmove", function() {
            document.querySelector(".point-mail-hide").style.background = "#FFFFFF"
            pointmail11.style.marginBottom = "6px";
            pointmail11.style.width = "8px";
            pointmail11.style.height = "8px";
        })

        pointsearch1.addEventListener("touchstart", function() {
            document.querySelector(".point-search-hide").style.background = "#FFAB91"
            document.querySelector(".point-search-margin").style.marginLeft= "0px"
            pointsearch11.style.width = "30px";
            pointsearch11.style.height = "3px";
            pointsearch11.style.borderRadius = "10px";
            pointsearch11.style.marginBottom = "11px";
            pointsearch11.style.transition = "0.3s";
        })

        pointsearch1.addEventListener("touchmove", function() {
            document.querySelector(".point-search-margin").style.marginLeft= "5px"
            document.querySelector(".point-search-hide").style.background = "#FFFFFF"
            pointsearch11.style.marginBottom = "6px";
            pointsearch11.style.width = "8px";
            pointsearch11.style.height = "8px";
        })

        pointhome1.addEventListener("touchstart", function() {
            document.querySelector(".point-home-hide").style.background = "#FFAB91"
            pointhome11.style.width = "30px";
            pointhome11.style.height = "3px";
            pointhome11.style.borderRadius = "10px";
            pointhome11.style.marginBottom = "11px";
            pointhome11.style.transition = "0.3s";
        })

        pointhome1.addEventListener("touchmove", function() {
            document.querySelector(".point-home-hide").style.background = "#FFFFFF"
            pointhome11.style.marginBottom = "6px";
            pointhome11.style.width = "8px";
            pointhome11.style.height = "8px";
        })

        </script>

    </body>

</html>

{% endblock %}