{% block title %} Books edit {% endblock %}

{% block content %}
  <div class="features">
      <h1> Форма изменения книги </h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Изображение:  {{ form.image }} <br>
        Название:  {{ form.name }} <br>
        Автор:  {{ form.authors }} <br>
        <a href="{% url 'books:author-create'%}">Добавить автора!</a><br>
        Год:  {{ form.year }} <br>
        Язык:  {{ form.language }} <br>
        Описание: <br>
        {{ form.description }}<br>
        <span>{{ error }}</span>
        <button class="btn btn-success" type="submit">Изменить!</button>
        <a href="{% url 'books:book-view'%}" >Отмена</a>
    </form>
    </div>
{% endblock %}