<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Document</title>
</head>

<body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>


        <div class="main-content-book">
            <p class="lenta">Лента всех-всех книг </p>

    {% for book, contact in book_list %}
        <section>
            <div class="book-container">
                <div class="book-attributes-change">
                    <p class="caption">{{book.name}}</p>
                    <p class="authors">
                        {% for author in book.authors.all %}
                        — {{author.name}}
                        {% endfor %}
                    </p>
                    <div class="info1-change">
                        <img class="icon1" src="{{MEDIA_URL}}images/user.png">
                        <a href="{% url 'profile_app:books-profile' book.owner.id %}" class="profile-name">{{book.owner.username}}</a>

                    </div>
                    {% if book.description %}
                    <p class="comment">{{book.description}}</p>
                    {% endif %}
                    {% if book.image %}
                    <div class="book-photo">
                        <img class="book-image" src="{{MEDIA_URL}}{{book.image}}">
                    </div>
                    {% endif %}
                    <div class="books-icons">
                        {% if book.owner.city %}
                        <div class="info2"><img class="icon2" src="{{MEDIA_URL}}images/placeholder.png"><span class="description">{{book.owner.city}}</span></div>
                        {% else %}
                        <div class="info2"><img class="icon2" src="{{MEDIA_URL}}images/placeholder.png"><span class="description">Не указано</span></div>
                        {% endif %}
                        {% if contact %}
                        <div class="info3"><img class="icon3" src="{{MEDIA_URL}}images/smartphone.png"><span class="description">{{contact.contact_type}}: {{contact.contact}}</span></div>
                        {% else %}
                        <div class="info3"><img class="icon3" src="{{MEDIA_URL}}images/smartphone.png"><span class="description">Не указано</span></div>
                        {% endif %}
                        <div class="info4"><img class="icon4" src="{{MEDIA_URL}}images/chat.png"><span class="description">{{book.language}}</span>
                            {% if book.year %}
                            <img class="icon5" src="{{MEDIA_URL}}images/folder.png"><span class="description">{{book.year}}</span>
                            {% else %}
                            <img class="icon5" src="{{MEDIA_URL}}images/folder.png"><span class="description">Не указано</span>
                            {% endif %}
                        </div>
                    </div>

                    {% if current_user != book.owner %}
                    <a href="{% url 'notification:notif-create' book.owner.id book.id %}?next={{ request.path|urlencode }}">
                <button class="button-add">
                        <p class="button-p">Запросить книгу через сайт</p>
                </button>
                    </a>
                    {% else %}
                    <div class="two-buttons">

                        <button class="change-button" onclick="window.location.href = '{% url 'books:book-update' book.id %}?next={{ request.path|urlencode }}'">
                            <p class="button-p">Изменить</p>
                        </button>

                        <button class="delete-button" onclick="PopUp('{% url 'books:book-delete' book.id %}')">
                            <p class="button-p" >Удалить</p>
                        </button>
                    </div>
                    {% endif %}

                </div>

            </div>
        </section>

{% endfor %}

        </div>

        <div class="bottom-rectangle">

            <div class="home-with-point">
                <div class="point-home "> </div>
                <a class="home-icon" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
            </div>
            <a class="search-icon" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
            <a class="mail-icon" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
            <a href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
            <a href="{% url 'profile_app:books-profile' current_user.id %}" ><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a>

        </div>

        </div>
    </header>

    <div class="pop-up">
        <div class="book-container-for-popup">
            <div class="book-attributes-change">

                <p class="caption">Вы уверены, что хотите удалить эту книгу?</p>

 <form id="form-delete" class="modal-content" method="post"> {% csrf_token %}

                <div class="two-buttons">
                    <button class="change-button-orange" type="submit" name="next" value="{{ request.path|urlencode }}" >
                        <p class="button-p">Удалить</p>
                    </button>
                    <button class="delete-button" type="button" onclick="PopDelete()">
                        <p class="button-p">Отменить</p>
                    </button>
                </div>

 </form>
            </div>
        </div>
    </div>

<script>

        let countOfSections = document.querySelectorAll('.section');

        if (countOfSections.length == 0 || countOfSections.length == 1) {

           document.querySelector('.main-options-container').style.height = "1000px";
           document.querySelector('body').style.overflowY = "hidden";
       }

        function PopUp(x){


            document.querySelector('.pop-up').style.display = "block";
            document.querySelector('body').style.overflowY = "hidden";
            document.querySelector('.modal-content').action = x;

            return x;
        };

        function PopDelete(){


            let countOfSections = document.querySelectorAll('section');

            document.querySelector('.pop-up').style.display = "none";

            if (countOfSections.length == 0 || countOfSections.length == 1 || countOfSections.length == 2)
            {
            document.querySelector('body').style.overflowY = "hidden";
            }
            else
            {
            document.querySelector('body').style.overflowY = "visible";
            }

            };

    </script>
</body>
</html>

{% endblock %}


