<!DOCTYPE html>

{% load static %}
{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">

    <title>Booka | Виш-лист</title>
</head>
<body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>

            {% if book_list %}
            <div class="main-content-book">
            <p class="lenta">Мой Виш-лист </p>

            <div class="test-button-short">
                <a href="{% url 'books:book-create' type %}?next={{ request.path|urlencode }}">
            <button class="add-to-wishlist">
                <p class="button-p">Добавить книгу в Виш-лист</p>
            </button>
                </a>
            </div>


            {% for book in book_list %}

        <section id="{{book.id}}">
            <div class="book-container">
                <div class="book-attributes-change">
                    <p class="caption">{{book.name}}</p>
                    <p class="authors">
                        {% for author in book.authors.all %}
                        — {{author.name}}
                        {% endfor %}
                    </p>

                        <button class="button-add" onclick="PopUp('{% url 'books:book-delete' book.id %}')">
                            <p class="button-p" >Удалить</p>
                        </button>



                </div>
                </div>
        </section>

            {% endfor %}

            </div>

                {% else %}
                <script>document.querySelector('body').style.overflow = "hidden";</script>
            <div class="main-content-search">
            <p class="lenta">Мой Виш-лист </p>
            <div class="test-button-short">
                <a href="{% url 'books:book-create' type %}">
            <button class="add-to-wishlist">
                <p class="button-p">Добавить книгу в Виш-лист</p>
            </button>
                </a>
            </div>
                <div class="greeting-container">
                <p class="lets-try">Пока что у Вас нет книг в виш-листе )
                </p>
                </div>
            </div>
        <script>
        document.querySelector('.add-to-wishlist').style.margin = "0px";
        document.querySelector('.greeting-container').style.padding = "0px 0px 0px 52px";
        </script>
            {% endif %}


        <div class="bottom-rectangle">

<div class="home-with-point">
                <div class="point-home point-home-hide "> </div>
            <a class="home-icon home-hover" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
     </div>
     <div class="search-with-point">
                <div class="point-search point-search-margin point-search-hide"></div>
            <a class="search-icon search-hover" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
    </div>
    <div class="mail-with-point">
                <div class="point-mail point-mail-hide"></div>
            <a class="mail-icon mail-hover" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
    </div>
     <div class="medal-with-point">
                <div class="point-medal"></div>
            <a class="medal-icon medal-hover" href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
    </div>

            <div class="user-with-point">
                <div class="point-user point-user-hide"> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" class="user-hover user-icon"><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>

        </div>



    </header>

 <div class="pop-up">
        <div class="book-container-for-popup">
            <div class="book-attributes-change">

                <p class="caption">Вы уверены, что хотите удалить эту книгу?</p>

 <form id="form-delete" class="modal-content" method="post"> {% csrf_token %}

                <div class="two-buttons">
                    <button class="change-button-orange" type="submit" name="next" value="{{ request.path|urlencode }}">
                        <p class="button-p">Удалить</p>
                    </button>
                    <button class="delete-button" type="button" onclick="PopDelete()">
                        <p class="button-p">Отменить</p>
                    </button>
                </div>

 </form>
            </div>
        </div>
    </div>

    <script>

        let countOfSections = document.querySelectorAll('section');

        if ((countOfSections.length == 0 || countOfSections.length == 1 || countOfSections.length == 2) && document.querySelectorAll('.main-content-book').length == 1) {
            document.querySelector('.main-content-book').style.height = "1000px" ;
            document.querySelector('body').style.overflowY = "hidden";
        }

        if ((countOfSections.length == 0 || countOfSections.length == 1 || countOfSections.length == 2) && document.querySelectorAll('.main-content-search').length == 1) {
            document.querySelector('.main-content-search').style.height = "1000px" ;
            document.querySelector('body').style.overflowY = "hidden";
        }

        function PopUp(x){

            document.querySelector('.pop-up').style.display = "block";
            document.querySelector('body').style.overflow = "hidden";
            document.querySelector('.modal-content').action = x;
            return x;

        };

        function PopDelete(){

            let countOfSections = document.querySelectorAll('section');
            document.querySelector('.pop-up').style.display = "none";
            if (countOfSections.length == 0 || countOfSections.length == 1 || countOfSections.length == 2)
            {
            document.querySelector('body').style.overflow = "hidden";
            }
            else
            {
            document.querySelector('body').style.overflow = "visible";
            }

        };


var pointuser1 = document.querySelector(".user-hover");
var pointuser11 = document.querySelector(".point-user");
var pointmedal1 = document.querySelector(".medal-hover");
var pointmedal11 = document.querySelector(".point-medal");
var pointsearch1 = document.querySelector(".search-hover");
var pointsearch11 = document.querySelector(".point-search");
var pointmail1 = document.querySelector(".mail-hover");
var pointmail11 = document.querySelector(".point-mail");
var pointhome1 = document.querySelector(".home-hover");
var pointhome11 = document.querySelector(".point-home");


pointuser1.addEventListener("mouseover", function() {
    document.querySelector(".point-user-hide").style.background = "#FFAB91"
    pointuser11.style.width = "30px";
    pointuser11.style.height = "3px";
    pointuser11.style.borderRadius = "10px";
    pointuser11.style.marginBottom = "11px";
    pointuser11.style.transition = "0.3s";
})

pointuser1.addEventListener("mouseout", function() {
    document.querySelector(".point-user-hide").style.background = "#FFFFFF"
    pointuser11.style.marginBottom = "6px";
    pointuser11.style.width = "8px";
    pointuser11.style.height = "8px";
})

pointmedal1.addEventListener("mouseover", function() {

    pointmedal11.style.width = "30px";
    pointmedal11.style.height = "3px";
    pointmedal11.style.borderRadius = "10px";
    pointmedal11.style.marginBottom = "11px";
    pointmedal11.style.transition = "0.3s";
})

pointmedal1.addEventListener("mouseout", function() {

    pointmedal11.style.marginBottom = "6px";
    pointmedal11.style.width = "8px";
    pointmedal11.style.height = "8px";
})

pointmail1.addEventListener("mouseover", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFAB91"
    pointmail11.style.width = "30px";
    pointmail11.style.height = "3px";
    pointmail11.style.borderRadius = "10px";
    pointmail11.style.marginBottom = "11px";
    pointmail11.style.transition = "0.3s";
})

pointmail1.addEventListener("mouseout", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFFFFF"
    pointmail11.style.marginBottom = "6px";
    pointmail11.style.width = "8px";
    pointmail11.style.height = "8px";
})

pointsearch1.addEventListener("mouseover", function() {
    document.querySelector(".point-search-hide").style.background = "#FFAB91"
    document.querySelector(".point-search-margin").style.marginLeft= "0px"
    pointsearch11.style.width = "30px";
    pointsearch11.style.height = "3px";
    pointsearch11.style.borderRadius = "10px";
    pointsearch11.style.marginBottom = "11px";
    pointsearch11.style.transition = "0.3s";
})

pointsearch1.addEventListener("mouseout", function() {
    document.querySelector(".point-search-margin").style.marginLeft= "5px"
    document.querySelector(".point-search-hide").style.background = "#FFFFFF"
    pointsearch11.style.marginBottom = "6px";
    pointsearch11.style.width = "8px";
    pointsearch11.style.height = "8px";
})

pointhome1.addEventListener("mouseover", function() {
    document.querySelector(".point-home-hide").style.background = "#FFAB91"
    pointhome11.style.width = "30px";
    pointhome11.style.height = "3px";
    pointhome11.style.borderRadius = "10px";
    pointhome11.style.marginBottom = "11px";
    pointhome11.style.transition = "0.3s";
})

pointhome1.addEventListener("mouseout", function() {
    document.querySelector(".point-home-hide").style.background = "#FFFFFF"
    pointhome11.style.marginBottom = "6px";
    pointhome11.style.width = "8px";
    pointhome11.style.height = "8px";
})


<!--Iphone-->


 var pointuser1 = document.querySelector(".user-hover");
var pointuser11 = document.querySelector(".point-user");
var pointmedal1 = document.querySelector(".medal-hover");
var pointmedal11 = document.querySelector(".point-medal");
var pointsearch1 = document.querySelector(".search-hover");
var pointsearch11 = document.querySelector(".point-search");
var pointmail1 = document.querySelector(".mail-hover");
var pointmail11 = document.querySelector(".point-mail");
var pointhome1 = document.querySelector(".home-hover");
var pointhome11 = document.querySelector(".point-home");


pointuser1.addEventListener("touchstart", function() {
    document.querySelector(".point-user-hide").style.background = "#FFAB91"
    pointuser11.style.width = "30px";
    pointuser11.style.height = "3px";
    pointuser11.style.borderRadius = "10px";
    pointuser11.style.marginBottom = "11px";
    pointuser11.style.transition = "0.3s";
})

pointuser1.addEventListener("touchmove", function() {
    document.querySelector(".point-user-hide").style.background = "#FFFFFF"
    pointuser11.style.marginBottom = "6px";
    pointuser11.style.width = "8px";
    pointuser11.style.height = "8px";
})

pointmedal1.addEventListener("touchstart", function() {

    pointmedal11.style.width = "30px";
    pointmedal11.style.height = "3px";
    pointmedal11.style.borderRadius = "10px";
    pointmedal11.style.marginBottom = "11px";
    pointmedal11.style.transition = "0.3s";
})

pointmedal1.addEventListener("touchmove", function() {

    pointmedal11.style.marginBottom = "6px";
    pointmedal11.style.width = "8px";
    pointmedal11.style.height = "8px";
})

pointmail1.addEventListener("touchstart", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFAB91"
    pointmail11.style.width = "30px";
    pointmail11.style.height = "3px";
    pointmail11.style.borderRadius = "10px";
    pointmail11.style.marginBottom = "11px";
    pointmail11.style.transition = "0.3s";
})

pointmail1.addEventListener("touchmove", function() {
    document.querySelector(".point-mail-hide").style.background = "#FFFFFF"
    pointmail11.style.marginBottom = "6px";
    pointmail11.style.width = "8px";
    pointmail11.style.height = "8px";
})

pointsearch1.addEventListener("touchstart", function() {
    document.querySelector(".point-search-hide").style.background = "#FFAB91"
    document.querySelector(".point-search-margin").style.marginLeft= "0px"
    pointsearch11.style.width = "30px";
    pointsearch11.style.height = "3px";
    pointsearch11.style.borderRadius = "10px";
    pointsearch11.style.marginBottom = "11px";
    pointsearch11.style.transition = "0.3s";
})

pointsearch1.addEventListener("touchmove", function() {
    document.querySelector(".point-search-margin").style.marginLeft= "5px"
    document.querySelector(".point-search-hide").style.background = "#FFFFFF"
    pointsearch11.style.marginBottom = "6px";
    pointsearch11.style.width = "8px";
    pointsearch11.style.height = "8px";
})

pointhome1.addEventListener("touchstart", function() {
    document.querySelector(".point-home-hide").style.background = "#FFAB91"
    pointhome11.style.width = "30px";
    pointhome11.style.height = "3px";
    pointhome11.style.borderRadius = "10px";
    pointhome11.style.marginBottom = "11px";
    pointhome11.style.transition = "0.3s";
})

pointhome1.addEventListener("touchmove", function() {
    document.querySelector(".point-home-hide").style.background = "#FFFFFF"
    pointhome11.style.marginBottom = "6px";
    pointhome11.style.width = "8px";
    pointhome11.style.height = "8px";
})
    </script>

</body>

</html>

{% endblock %}