{% block title %} Books view {% endblock %}

{% block content %}
    <a href="{% url 'books:book-create' type %}" >Добавить книгу в виш лист</a>
    <h2>Список книг</h2>

    {% for book in book_list %}
       <img src="{{MEDIA_URL}}{{book.image}}"><br>

        Название: {{ book.name }}<br>

        Автор:

        {% for author in book.authors.all %}
        {{ author.name }} <br>

        {% endfor %}

        Год: {{ book.year }}<br>
        Язык: {{ book.language }}<br>


        {% if current_user.id == book.owner.id %}
        <a href="{% url 'books:book-update' book.id %}" >Изменить</a> | <a href="{% url 'books:book-delete' book.id type %}" >Удалить</a><br>

        {% endif %}
    {% endfor %}

{% endblock %}