<!DOCTYPE html>
<html lang="en">

{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Document</title>
</head>

<body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>


            {% if contacts %}
            <div class="main-content-book">
            <p class="lenta">Мои контакты </p>

            <div class="test-button-short">
                <a href="{% url 'profile_app:contact-create' %}?next={{ request.path|urlencode }}">
            <button class="add-to-wishlist">
                <p class="button-p">Добавить контакт</p>
            </button>
                </a>
            </div>
            {% for contact in contacts %}
            <section>
            <div class="book-container">
                <div class="book-attributes-change">

                    <p class="caption">{{contact.contact_type}}</p>
                    <p class="authors">— {{contact.contact}}</p>
                    <p class="comment-button">{{contact.description}}</p>

                    <div class="two-buttons">

                        <button class="change-button" onclick="window.location.href = '{% url 'profile_app:contact-update' contact.id %}?next={{ request.path|urlencode }}'">
                            <p class="button-p">Изменить</p>
                        </button>

                        <button class="delete-button" onclick="PopUp('{% url 'profile_app:contact-delete' contact.id %}')">
                            <p class="button-p">Удалить</p>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        {% endfor %}

            {% else %}

           <div class="main-content-book">
            <p class="lenta">Мои контакты </p>
            <div class="test-button-short">
                <a href="{% url 'profile_app:contact-create' %}">
            <button class="add-to-wishlist">
                <p class="button-p">Добавить контакт</p>
            </button>
                </a>
            </div>
                <div class="greeting-container">
                <p class="lets-try">Пока что Вы не добавили ни одного контакта :(
                </p>
                </div>

        <script>
        document.querySelector('.add-to-wishlist').style.margin = "0px";
        document.querySelector('.greeting-container').style.padding = "0px 0px 0px 52px";
        </script>
            {% endif %}

        </div>

        <div class="bottom-rectangle">

<div class="home-with-point">
                <div class="point-home point-home-hide "> </div>
            <a class="home-icon home-hover" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
     </div>
     <div class="search-with-point">
                <div class="point-search point-search-margin point-search-hide"></div>
            <a class="search-icon search-hover" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
    </div>
    <div class="mail-with-point">
                <div class="point-mail point-mail-hide"></div>
            <a class="mail-icon mail-hover" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
    </div>
     <div class="medal-with-point">
                <div class="point-medal point-medal-hide"></div>
            <a class="medal-icon medal-hover" href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
    </div>

            <div class="user-with-point">
                <div class="point-user "> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" class="user-hover user-icon"><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>
        </div>
        </div>
    </header>

  <div class="pop-up">
        <div class="book-container-for-popup">
            <div class="book-attributes-change">

                <p class="caption">Вы уверены, что хотите удалить этот контакт?</p>

 <form id="form-delete" class="modal-content" method="post"> {% csrf_token %}

                <div class="two-buttons">
                    <button class="change-button-orange" type="submit" name="next" value="{{ request.path|urlencode }}">
                        <p class="button-p">Удалить</p>
                    </button>
                    <button class="delete-button" type="button" onclick="PopDelete()">
                        <p class="button-p">Отменить</p>
                    </button>
                </div>

 </form>
            </div>
        </div>
    </div>


    <script>

 function PopUp(x){


            document.querySelector('.pop-up').style.display = "block";
            document.querySelector('body').style.overflowY = "hidden";
            document.querySelector('.modal-content').action = x;

            return x;
        };

        function PopDelete(){


            let countOfSections = document.querySelectorAll('section');

            document.querySelector('.pop-up').style.display = "none";

            document.querySelector('body').style.overflowY = "visible";

        };

        let countOfSections = document.querySelectorAll('section');

        if (countOfSections.length == 0 || countOfSections.length == 1) {

            document.querySelector('.main-content-book').style.height = "1000px";
            document.querySelector('body').style.overflowY = "hidden";
        }


    </script>
</body>

</html>
{% endblock %}
