<!DOCTYPE html>
<html lang="en">

{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Booka | Изменение пароля</title>
</head>

<body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>

        <div class="main-content-search">
            <div class="greeting-container">
            <p class="greeting">Смена пароля
                </p>

                <p class="lets-try">Пароль успешно изменен
                </p>
            </div>
            <p><br></p>
            <p><br></p>
            <div class="test-button-short-suc">
            <a href="{% url 'profile_app:settings'%}" >
            <button class="add-to-wishlist">
                <p class="button-p">Балдеж, продолжить!</p>
            </button>
            </a>
        </div>

        </div>

        </div>
            <script>document.querySelector('body').style.overflowY = "hidden";</script>
    </header>
</body>
</html>

{% endblock %}