<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}
{% block content %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
        <title>Booka | Изменение пароля</title>
    </head>

    <body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                <div class="main-content-options">
                    <p class="lenta">Смена пароля</p>

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change-pasw">
                                <p class="caption">Старый пароль</p>
                                    <div class="add-book-name add-book-name-change">
                                    {{form.old_password}}
                                    </div>
<a class="profile-name left-margin" href="{% url 'password_reset' %}">Забыли пароль?</a>
                            </div>
                        </div>
                    </section>

                    {% if form.old_password.errors %}
            {% for error in form.old_password.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Новый пароль</p>
                                    <div class="add-book-name">
                                    {{form.new_password1}}
                                    </div>
                            </div>
                        </div>
                    </section>

                    {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                     <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Повторите новый пароль</p>
                                    <div class="add-book-name">
                                    {{form.new_password2}}
                                    </div>
                            </div>
                        </div>
                    </section>

                    {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% endif %}

                    {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="appearance">{{error}}</p>
                    </div>
                </div>
            </section>
                {% endfor %}
                {% endif %}

                </div>

                    <div class="last-button">
                    <button class="last-button-add" type="submit" id="upload">

                        <p class="button-p">Сохранить</p>

                    </button>
                </div>

       </form>


            </div>
        </header>
     </body>

</html>

{% endblock %}

