<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}
{% block content %}
{% load widget_tweaks %}

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
        <title>Document</title>
    </head>

    <body>
        <header class="header">
            <div class="container">
                <div class="common-rectangle">
                    <div class="rectangle-main"></div>
                </div>


                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                <div class="main-content-options">
                    <p class="lenta">Редактирование профиля</p>

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Никнейм</p>
                                    <div class="add-book-name">
                                    {{form.username}}
                                    </div>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Город</p>
                                <div class="add-book-name">
                                    {{form.city}}
                                </div>
                                <p class="comment-for-authors">Вводите город внимательно, чтобы люди из Вашего города смогли найти Ваши книжки, а Вы — их!</p>
                            </div>
                        </div>
                    </section>


                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Фото</p>
                                <div class="file-form">
                                    <div class="choose-file-container">
                                        <label class="choose-file-button" id="test">
                                            {{form.photo}}
                                            <span class="button-file">CHOOSE FILE</span></label>
                                    </div>
                                </div>
                                <p class="comment-for-photo">Все фото обрезаются под круг, будьте внимательны, чтобы Ваше фото выглядело хорошо</p>
                            </div>
                        </div>
                    </section>

                    <section>
                        <div class="book-container">
                            <div class="book-attributes-change">
                                <p class="caption">Описание профиля</p>
                                <div class="add-book-description">
                                    {{form.bio}}
                                </div>
                                <p class="comment-for-authors">Здесь Вы можете написать что-то о себе :))
                                    <br>
                                    <br>Может быть хобби, может любимых авторов, а может и время, когда с Вами лучше связываться...</p>
                            </div>
                        </div>
                    </section>



                </div>


                <div class="last-button">
                    <button class="last-button-add" type="submit" id="upload">

                        <p class="button-p">Сохранить</p>

                    </button>
                </div>

       </form>

                 <div class="bottom-rectangle">


            <a class="home-icon" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
            <a class="search-icon" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
            <a class="mail-icon" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
            <a href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
            <div class="user-with-point">
                <div class="point-user "> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" ><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>
            </div>
        </header>
        <script>

// filter: blur(10px);


            let inputs = document.querySelectorAll('.file-input');
            Array.prototype.forEach.call(inputs, function(input) {
                input.addEventListener('change', function(e) {
                    test.style.transitionProperty = 'background-color';
                    test.style.transitionDuration = "0.3s";
                    // let counter = 5;
                    // document.querySelector('.button-file').innerText = 'ЗАГРУЗКА...';
                    // let timer = setInterval(function() {
                    //     // let timePassed = Date.now() - start;
                    //     test.style.marginLeft = counter + 'px';
                    //     if (counter >= document.getElementById('choose-file-container').offsetWidth) {
                    //         clearInterval(timer);
                            test.style.float = 'right';
                            document.querySelector('.choose-file-button').style.backgroundColor = '#FFAB91';
                            document.querySelector('.button-file').innerText = 'ЗАГРУЖЕНО';
                            document.querySelector('.button-file').style.color = "#ffffff";
                            // document.querySelector('body').style.overflowY = "hidden";
                    //     }
                    //     counter *= 1.2;
                    // }, 30);
                    //   document.querySelector('.button-file').innerText = 'ЗАГРУЖЕНО';
                    //   document.querySelector('.button-file').style.color = "#ffffff";
                    //   document.querySelector('.choose-file-button').style.float = 'right';
                    document.querySelector('.choose-file-button').style.border = '0px solid #000000';
                    document.querySelector('.choose-file-button').style.boxShadow = '-0.5px 0px 0px 2px rgb(0 0 0)';
                });
            });
        </script>

    </body>

</html>

{% endblock %}