{% extends 'lh/base.html' %}

{% block content %}
    <h1>Профиль</h1>
    <hr>
{% if searched_user.photo %}
<img src="{{searched_user.photo.url}}" width="150px">
{% endif %}
{{searched_user.username}}
{{searched_user.email}}
{% if searched_user.id == check_id %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_app:settings' %}">Настройки</a>
                </li>
{% endif %}

{% for contact in contacts %}
{{ contact.contact_type }}
{{ contact.contact }}
{{ contact.description }}
{% if searched_user.id == check_id %}
        <a href="{% url 'profile_app:contact-update' contact.id %}" >Изменить</a> | <a href="{% url 'profile_app:contact-delete' contact.id type %}" >Удалить</a>
<br>
{% endif %}

<br>
<br>
{% endfor %}

{% endblock %}
