<!DOCTYPE html>
<html lang="en">

{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Document</title>
</head>

<body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>

            <div class="profile-info">
                <div class="profile-info-container">
                <div class="profile-info-inner">

                        {% if searched_user.photo %}
                        <img class="profile-image" src="{{MEDIA_URL}}{{searched_user.photo}}">
                        {% endif %}

                    <div class="profile-inner-content">
                        <p class="author-name">{{searched_user.username}}</p>
                        <div class="icon-adress">
                            <div class="info2-profile">
                                <img class="icon2" src="{{MEDIA_URL}}images/placeholder.png"><span class="description">{% if searched_user.city %}
                                {{searched_user.city}} {% else %} Не указано {% endif %}</span>
                            </div>
                            {% if searched_user.bio %}
                            <p class="book-description">{{searched_user.bio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                {% if searched_user.id == check_id %}
                <a href="{% url 'profile_app:settings' %}">
            <button class="add-to-wishlist options-button">
                <p class="button-p">Настройки</p>
            </button>
                </a>
                {% endif %}
            </div>


        <div class="main-content-book">
        <div class="nav-bar">
            <div class="book-with-point">
                <div class="point-book point-book-hide "> </div>
                <a class="book-icon" href="{% url 'profile_app:books-profile' searched_user.id %}" ><p class=" nav-content">Книги</p></a>
            </div>

            <div class="contacts-with-point">
                <div class="point-contacts"> </div>
                <a class="contacts-icon " href="{% url 'profile_app:contacts-profile' searched_user.id %}" ><p class=" nav-content">Контакты</p></a>
            </div>

            <div class="list-with-point">
                <div class="point-list point-list-hide"> </div>
                <a class="list-icon" href="{% url 'profile_app:wish-profile' searched_user.id %}" ><p class=" nav-content">Виш-лист</p></a>
            </div>
        </div>
            {% if searched_user.id == check_id %}
        <div class="test-button-short">
            <a href="{% url 'profile_app:contact-create'%}?next={{ request.path|urlencode }}" >
            <button class="add-to-wishlist">
                <p class="button-p">Добавить контакт</p>
            </button>
            </a>
        </div>
            {% endif %}

            {% if contacts %}
            {% for contact in contacts %}
            <section>
            <div class="book-container">
                <div class="book-attributes-change">

                    <p class="caption">{{contact.contact_type}}</p>
                    <p class="authors">— {{contact.contact}}</p>
                    <p class="comment-button">{{contact.description}}</p>
                    {% if searched_user.id == check_id %}
                    <div class="two-buttons">

                        <button class="change-button" onclick="window.location.href = '{% url 'profile_app:contact-update' contact.id %}?next={{ request.path|urlencode }}'">
                            <p class="button-p">Изменить</p>
                        </button>

                        <button class="delete-button" onclick="PopUp('{% url 'profile_app:contact-delete' contact.id %}')">
                            <p class="button-p">Удалить</p>
                        </button>

                    </div>
                    {% endif %}
                </div>

            </div>
        </section>
        {% endfor %}
            {% else %}
            {% if searched_user.id != check_id %}
            <div class="no-comments-container">

                <p class="no-contacts">Этот букер решил не делиться своими котактами, но Вы можете отправить ему запрос через сайт со своими контактами. <br><br>Тогда
                    {{searched_user.username}} сможет связаться с Вами
                </p>
            </div>
            {% else %}
             <div class="no-comments-container">

                <p class="no-contacts">Пока что Вы не добавили ни одного контакта :(
                </p>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <div class="bottom-rectangle">


            <a class="home-icon" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
            <a class="search-icon" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
            <a class="mail-icon" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
            <a href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
            <div class="user-with-point">
                <div class="point-user "> </div>
            <a href="{% url 'profile_app:books-profile' check_id %}" ><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>

        </div>
    </header>

 <div class="pop-up">
        <div class="book-container-for-popup">
            <div class="book-attributes-change">

                <p class="caption">Вы уверены, что хотите удалить этот контакт?</p>

 <form id="form-delete" class="modal-content" method="post"> {% csrf_token %}

                <div class="two-buttons">
                    <button class="change-button-orange" type="submit" name="next" value="{{ request.path|urlencode }}">
                        <p class="button-p">Удалить</p>
                    </button>
                    <button class="delete-button" type="button" onclick="PopDelete()">
                        <p class="button-p">Отменить</p>
                    </button>
                </div>

 </form>
            </div>
        </div>
    </div>

<script>


         function PopUp(x){


            document.querySelector('.pop-up').style.display = "block";
            document.querySelector('body').style.overflowY = "hidden";
            document.querySelector('.modal-content').action = x;

            return x;
        };

        function PopDelete(){


            let countOfSections = document.querySelectorAll('section');

            document.querySelector('.pop-up').style.display = "none";

            document.querySelector('body').style.overflowY = "visible";

        };

    </script>

</body>

</html>
{% endblock %}
