{% extends 'lh/base.html' %}

{% block content %}
    <h1>Профиль</h1>
    <hr>
{% if searched_user.photo %}
<img src="{{searched_user.photo.url}}" width="150px">
{% endif %}
{{searched_user.username}}
{{searched_user.email}}
{% if searched_user.id == check_id %}
           <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_app:settings' %}">Настройки</a>
                </li>
{% endif %}
<br>


{% for book in books %}
{{ book.name }}
{% if searched_user.id == check_id %}
        <a href="{% url 'books:book-update' book.id %}" >Изменить</a> | <a href="{% url 'books:book-delete' book.id type %}" >Удалить</a><br>
{% else %}
<a href="{% url 'notification:notif-create' searched_user.id book.id %}"> Запросить книгу </a>
{% endif %}
<br>
<br>
{% endfor %}

{% endblock %}
