{% extends 'lh/base.html' %}

{% block content %}
    <h1>Настройки</h1>
 <a class="nav-link" href="{% url 'profile_app:profile' user.id %}">Назад</a>
    <hr>
 <a class="nav-link" href="{% url 'profile_app:profile-update' %}">Редактировать  профиль</a>
 <a class="nav-link" href="{% url 'profile_app:contact-list' %}">Контакты</a>
 <a class="nav-link" href="">Сменить пароль</a>
<p></p>
 <a class="nav-link" href="">Написать в техподдержку</a>



        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
{% endblock %}