<!DOCTYPE html>
<html lang="en">

{% load static %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Document</title>
</head>

<body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>



        <div class="main-content-options">
            <p class="settings">Настройки</p>

            <div class="book-container-button">
                <div class="book-attributes-button">
        <div class="last-button-4">
            <a href="{% url 'profile_app:profile-update' %}">
            <button class="last-button-add-4">
                <p class="button-p">Редактировать профиль</p>
            </button>
            </a>
        </div></div></div>

        <div class="book-container-button">
            <div class="book-attributes-button">
        <div class="last-button-4">
            <a href="{% url 'profile_app:contact-list' %}">
            <button class="last-button-add-4">
                <p class="button-p">Контакты</p>
            </button>
            </a>
        </div></div></div>

        <div class="book-container-button">
            <div class="book-attributes-button">
        <div class="last-button-4">
            <a href="{% url 'profile_app:password-change' %}">
            <button class="last-button-add-4">
                <p class="button-p">Сменить пароль</p>
            </button>
                </a>
        </div></div></div>

        <div class="book-container-button">
            <div class="book-attributes-button">
        <div class="last-button-4">
            <a href="{% url 'profile_app:technical-support' %}">
            <button class="last-button-add-4-last">
                <p class="button-p">Написать в техподдержку</p>
            </button>
                </a>
        </div></div></div>

            <div class="book-container-button">
            <div class="book-attributes-button">
                <div class="last-button-4">
                    <a href="{% url 'logout' %}">
                        <button class="last-button-add-4-last">
                            <p class="button-p">Выйти из аккаунта</p>
                        </button>
                    </a>
        </div></div></div>
        </div>

               <div class="gogo"></div>

         <div class="bottom-rectangle">

            <a class="home-icon" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
            <a class="search-icon" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
            <a class="mail-icon" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
            <a href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
            <div class="user-with-point">
                <div class="point-user "> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" ><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>

        </div>
    </header>
</body>

</html>

{% endblock %}