<!DOCTYPE html>

{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Document</title>
</head>

<body>
 <header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>
    

        <div class="main-options-container"> 
            <p class="p-support">Контакты разработчика</p>
             <section class="section">
                
                <div class="book-container">
                    
                    <div class="book-attributes-change">
                        
                        <p class="caption">Telegram</p>
                        <p class="authors">— @dima_tatarin</p>

                    </div>    
                    
                </div>  
            </section>   
    
            <section class="section">
                <div class="book-container">
                    <div class="book-attributes-change">
                        
                        <p class="caption">E-mail</p>
                        <p class="authors">— dmitriyseur@gmail.com</p>

                    </div>    
                    
                </div>  
            </section>    
            <section class="section">
                <div class="book-container">
                    <div class="book-attributes-change">
                        
                        <p class="caption">Instagram</p>
                        <p class="authors">— @hellwost_kit21</p>
  
                    </div>    
                    
                </div>  
            </section>   
            
            
            
            </div>
     <div class="bottom-rectangle">


            <a class="home-icon" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
            <a class="search-icon" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
            <a class="mail-icon" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
            <a href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
            <div class="user-with-point">
                <div class="point-user "> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" ><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>

        </div>

        </div>
    </header>
    <script>

        let countOfSections = document.querySelectorAll('.section');

        if (countOfSections.length == 0 || countOfSections.length == 1 || countOfSections.length == 2 || countOfSections.length == 3) {
           
           document.querySelector('.main-options-container').style.height = "1000px";
           document.querySelector('body').style.overflowY = "hidden";
       }
 
    </script>
</body>

</html>

{% endblock %}