<!DOCTYPE html>

{% load static %}
{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">
    <title>Document</title>
</head>

<body>
<header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>

<form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

        <div class="main-content-options">
            <p class="lenta">Запрос через сайт</p>

            <section>
                <div class="book-container">
                    <div class="book-attributes">

                        <p class="isbook">Книга</p>

                        <p class="caption">{{book.name}}</p>

                    </div>

                </div>
            </section>
            <section>
                <div class="book-container">
                    <div class="book-attributes">

                        <p class="isbook">Получатель</p>

                        <a href="{% url 'profile_app:books-profile' receiver.id%}" style="text-decoration:none; color: #000000;">
                        <p class="book-author">{{receiver.username}}</p>
                       </a>

                    </div>

                </div>
            </section>
            <section>
                <div class="book-container">
                    <div class="book-attributes">
                        <p class="caption">Сообщение</p>
                        <div class="add-book-description">
                            {{form.message}}
                        </div>
                        <p class="comment-for-authors">Напишите, что Вы предлагаете взамен и как владельцу книги связаться с Вами :))</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="last-button">
            <button class="last-button-add" type="submit" name="next" value="{{ request.GET.next }}">
                <p class="button-p" >Отправить</p>
            </button>
        </div>

       </form>


        <div class="bottom-rectangle">

            <a class="home-icon" href="{% url 'books:book-view' %}" ><img class="img-icons home-icon" src="{{MEDIA_URL}}images/home-page.png" ></a>
            <a class="icon-search" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
            <div class="mail-with-point">
                <div class="point-mail "></div>
                <a class="mail-icon" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
            </div>
            <a href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
            <a href="{% url 'profile_app:books-profile' userid %}" ><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a>

        </div>

        </div>
    </header>

{% endblock %}