<!DOCTYPE html>

{% load static %}
{% block content %}
{% load tz %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styleb.css' %}">

    <title>Document</title>
</head>

<body>

<header class="header">
        <div class="container">
            <div class="common-rectangle">
                <div class="rectangle-main">
                    <span class="booka-span-first booka-span1">BOOKA</span>
                </div>
            </div>

            {% if sent %}
        <div class="main-content-book">
            <div class="get-post">
                <div class="get-with-icon">
                    <div class="point-get point-get-hover"></div>
                    <div class="get"><a class="get-post-a get-a" href="{% url 'notification:received-notif-list' %}">Полученные запросы</a></div>
                </div>
                <div class="post-with-icon">
                    <div class="point-post "></div>
                    <div class="post"><a class="get-post-a post-a" href="{% url 'notification:sent-notif-list' %}">Отправленные запросы</a></div>
                </div>
            </div>
            {% for notif, contact in sent %}
            <section>
            <div class="book-container">
                <div class="book-attributes-change">
                    <p class="caption">{{notif.book.name}}</p>
                    <p class="authors">
                        {% for author in notif.book.authors.all %}
                        — {{author.name}}
                        {% endfor %}</p>
                    <div class="info1-change">
                        <img class="icon1" src="{{MEDIA_URL}}images/user.png">
                        <span class="profile-name name-for-fonts">{{notif.receiver.username}}</span>
                    </div>
                    {% if contact %}
                    <div class="info3 info3-margin"><img class="icon3" src="{{MEDIA_URL}}images/smartphone.png">
                        <span class="info3-fonts">{{contact.contact_type}}: {{contact.contact}}</span>
                    </div>
                    {% else %}
                    <div class="info3 info3-margin"><img class="icon3" src="{{MEDIA_URL}}images/smartphone.png">
                        <span class="info3-fonts">Не указано</span>
                    </div>
                    {% endif %}

                    <span class="date">{{notif.time|timezone:"Europe/Moscow"}}</span>
                    <p class="comment comment-fonts">{{notif.message}}</p>



                <a href="{% url 'notification:notif-create' notif.receiver.id notif.book.id %}?next={{ request.path|urlencode }}">
                <button class="button-add">
                        <p class="button-p">Отправить еще сообщение</p>
                </button>
                    </a>
                    </div>


            </div>
            </section>

              {% endfor %}
                    </div>

                {% else %}
            <div class="main-content-search">
                        <div class="get-post">
                <div class="get-with-icon">
                    <div class="point-post point-post-hover"></div>
                    <div class="get"><a class="get-post-a get-a" href="{% url 'notification:received-notif-list' %}">Полученные запросы</a></div>
                </div>
                <div class="post-with-icon">
                    <div class="point-post "></div>
                    <div class="post"><a class="get-post-a post-a" href="{% url 'notification:sent-notif-list' %}">Отправленные запросы</a></div>
                </div>
            </div>
                <div class="greeting-container-change">
                <p class="lets-try-change">Пока Вы никому не отправляли запрос )</p>
            </div>
            </div>
                {% endif %}


         <div class="bottom-rectangle">

<div class="home-with-point">
                <div class="point-home point-home-hide "> </div>
            <a class="home-icon home-hover" href="{% url 'books:book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/home-page.png" ></a>
     </div>
     <div class="search-with-point">
                <div class="point-search point-search-margin point-search-hide"></div>
            <a class="search-icon search-hover" href="{% url 'search_app:search' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/search.png" ></a>
    </div>
    <div class="mail-with-point">
                <div class="point-mail"></div>
            <a class="mail-icon mail-hover" href="{% url 'notification:received-notif-list' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/mail.png" ></a>
    </div>
     <div class="medal-with-point">
                <div class="point-medal point-medal-hide"></div>
            <a class="medal-icon medal-hover" href="{% url 'books:wish-book-view' %}" ><img class="img-icons" src="{{MEDIA_URL}}images/bookmark.png" ></a>
    </div>

            <div class="user-with-point">
                <div class="point-user point-user-hide"> </div>
            <a href="{% url 'profile_app:books-profile' userid %}" class="user-hover user-icon"><img class="img-icons" src="{{MEDIA_URL}}images/user.png" ></a></div>

        </div>
        </div>

    </header>

<script>

     let countOfSections = document.querySelectorAll('section');

        if (countOfSections.length == 0 ) {
            document.querySelector('.main-content-search').style.height = "1000px";
            document.querySelector('body').style.overflow = "hidden";

        }

                if (countOfSections.length == 1 ) {
            document.querySelector('.main-content-book').style.height = "1000px";
            document.querySelector('body').style.overflow = "hidden";

        }

var x1 = document.querySelector(".get-a")
            var y1 =  document.querySelector(".point-get")
            var x2 = document.querySelector(".post-a")
            var y2 =  document.querySelector(".point-post")

            x1.addEventListener("mouseover", function() {
            document.querySelector(".point-get").style.background = "#FFAB91"
            y1.style.width = "30px";
            y1.style.height = "3px";
            y1.style.borderRadius = "10px";
            y1.style.marginBottom = "11px";
            y1.style.transition = "0.3s";
            })

            x1.addEventListener("mouseout", function() {
            document.querySelector(".point-get").style.background = "#FFFFFF"
            y1.style.marginBottom = "6px";
            y1.style.width = "8px";
            y1.style.height = "8px";
            })

            x2.addEventListener("mouseover", function() {
            y2.style.width = "30px";
            y2.style.height = "3px";
            y2.style.borderRadius = "10px";
            y2.style.marginBottom = "11px";
            y2.style.transition = "0.3s";
            })

            x2.addEventListener("mouseout", function() {
            y2.style.marginBottom = "6px";
            y2.style.width = "8px";
            y2.style.height = "8px";
            })

       var pointuser1 = document.querySelector(".user-hover");
var pointuser11 = document.querySelector(".point-user");
var pointmedal1 = document.querySelector(".medal-hover");
var pointmedal11 = document.querySelector(".point-medal");
var pointsearch1 = document.querySelector(".search-hover");
var pointsearch11 = document.querySelector(".point-search");
var pointmail1 = document.querySelector(".mail-hover");
var pointmail11 = document.querySelector(".point-mail");
var pointhome1 = document.querySelector(".home-hover");
var pointhome11 = document.querySelector(".point-home");


pointuser1.addEventListener("mouseover", function() {
    document.querySelector(".point-user-hide").style.background = "#FFAB91"
    pointuser11.style.width = "30px";
    pointuser11.style.height = "3px";
    pointuser11.style.borderRadius = "10px";
    pointuser11.style.marginBottom = "11px";
    pointuser11.style.transition = "0.3s";
})

pointuser1.addEventListener("mouseout", function() {
    document.querySelector(".point-user-hide").style.background = "#FFFFFF"
    pointuser11.style.marginBottom = "6px";
    pointuser11.style.width = "8px";
    pointuser11.style.height = "8px";
})

pointmedal1.addEventListener("mouseover", function() {
    document.querySelector(".point-medal-hide").style.background = "#FFAB91"
    pointmedal11.style.width = "30px";
    pointmedal11.style.height = "3px";
    pointmedal11.style.borderRadius = "10px";
    pointmedal11.style.marginBottom = "11px";
    pointmedal11.style.transition = "0.3s";
})

pointmedal1.addEventListener("mouseout", function() {
    document.querySelector(".point-medal-hide").style.background = "#FFFFFF"
    pointmedal11.style.marginBottom = "6px";
    pointmedal11.style.width = "8px";
    pointmedal11.style.height = "8px";
})

pointmail1.addEventListener("mouseover", function() {
    pointmail11.style.width = "30px";
    pointmail11.style.height = "3px";
    pointmail11.style.borderRadius = "10px";
    pointmail11.style.marginBottom = "11px";
    pointmail11.style.transition = "0.3s";
})

pointmail1.addEventListener("mouseout", function() {
    pointmail11.style.marginBottom = "6px";
    pointmail11.style.width = "8px";
    pointmail11.style.height = "8px";
})

pointsearch1.addEventListener("mouseover", function() {
    document.querySelector(".point-search-hide").style.background = "#FFAB91"
    document.querySelector(".point-search-margin").style.marginLeft= "0px"
    pointsearch11.style.width = "30px";
    pointsearch11.style.height = "3px";
    pointsearch11.style.borderRadius = "10px";
    pointsearch11.style.marginBottom = "11px";
    pointsearch11.style.transition = "0.3s";
})

pointsearch1.addEventListener("mouseout", function() {
    document.querySelector(".point-search-margin").style.marginLeft= "5px"
    document.querySelector(".point-search-hide").style.background = "#FFFFFF"
    pointsearch11.style.marginBottom = "6px";
    pointsearch11.style.width = "8px";
    pointsearch11.style.height = "8px";
})

pointhome1.addEventListener("mouseover", function() {
    document.querySelector(".point-home-hide").style.background = "#FFAB91"
    pointhome11.style.width = "30px";
    pointhome11.style.height = "3px";
    pointhome11.style.borderRadius = "10px";
    pointhome11.style.marginBottom = "11px";
    pointhome11.style.transition = "0.3s";
})

pointhome1.addEventListener("mouseout", function() {
    document.querySelector(".point-home-hide").style.background = "#FFFFFF"
    pointhome11.style.marginBottom = "6px";
    pointhome11.style.width = "8px";
    pointhome11.style.height = "8px";
    })


<!--Iphone-->

var x1 = document.querySelector(".get-a")
            var y1 =  document.querySelector(".point-get")
            var x2 = document.querySelector(".post-a")
            var y2 =  document.querySelector(".point-post")

            x1.addEventListener("touchstart", function() {
            document.querySelector(".point-get").style.background = "#FFAB91"
            y1.style.width = "30px";
            y1.style.height = "3px";
            y1.style.borderRadius = "10px";
            y1.style.marginBottom = "11px";
            y1.style.transition = "0.3s";
            })

            x1.addEventListener("touchmove", function() {
            document.querySelector(".point-get").style.background = "#FFFFFF"
            y1.style.marginBottom = "6px";
            y1.style.width = "8px";
            y1.style.height = "8px";
            })

            x2.addEventListener("touchstart", function() {
            y2.style.width = "30px";
            y2.style.height = "3px";
            y2.style.borderRadius = "10px";
            y2.style.marginBottom = "11px";
            y2.style.transition = "0.3s";
            })

            x2.addEventListener("touchmove", function() {
            y2.style.marginBottom = "6px";
            y2.style.width = "8px";
            y2.style.height = "8px";
            })

       var pointuser1 = document.querySelector(".user-hover");
var pointuser11 = document.querySelector(".point-user");
var pointmedal1 = document.querySelector(".medal-hover");
var pointmedal11 = document.querySelector(".point-medal");
var pointsearch1 = document.querySelector(".search-hover");
var pointsearch11 = document.querySelector(".point-search");
var pointmail1 = document.querySelector(".mail-hover");
var pointmail11 = document.querySelector(".point-mail");
var pointhome1 = document.querySelector(".home-hover");
var pointhome11 = document.querySelector(".point-home");


pointuser1.addEventListener("touchstart", function() {
    document.querySelector(".point-user-hide").style.background = "#FFAB91"
    pointuser11.style.width = "30px";
    pointuser11.style.height = "3px";
    pointuser11.style.borderRadius = "10px";
    pointuser11.style.marginBottom = "11px";
    pointuser11.style.transition = "0.3s";
})

pointuser1.addEventListener("touchmove", function() {
    document.querySelector(".point-user-hide").style.background = "#FFFFFF"
    pointuser11.style.marginBottom = "6px";
    pointuser11.style.width = "8px";
    pointuser11.style.height = "8px";
})

pointmedal1.addEventListener("touchstart", function() {
    document.querySelector(".point-medal-hide").style.background = "#FFAB91"
    pointmedal11.style.width = "30px";
    pointmedal11.style.height = "3px";
    pointmedal11.style.borderRadius = "10px";
    pointmedal11.style.marginBottom = "11px";
    pointmedal11.style.transition = "0.3s";
})

pointmedal1.addEventListener("touchmove", function() {
    document.querySelector(".point-medal-hide").style.background = "#FFFFFF"
    pointmedal11.style.marginBottom = "6px";
    pointmedal11.style.width = "8px";
    pointmedal11.style.height = "8px";
})

pointmail1.addEventListener("touchstart", function() {
    pointmail11.style.width = "30px";
    pointmail11.style.height = "3px";
    pointmail11.style.borderRadius = "10px";
    pointmail11.style.marginBottom = "11px";
    pointmail11.style.transition = "0.3s";
})

pointmail1.addEventListener("touchmove", function() {
    pointmail11.style.marginBottom = "6px";
    pointmail11.style.width = "8px";
    pointmail11.style.height = "8px";
})

pointsearch1.addEventListener("touchstart", function() {
    document.querySelector(".point-search-hide").style.background = "#FFAB91"
    document.querySelector(".point-search-margin").style.marginLeft= "0px"
    pointsearch11.style.width = "30px";
    pointsearch11.style.height = "3px";
    pointsearch11.style.borderRadius = "10px";
    pointsearch11.style.marginBottom = "11px";
    pointsearch11.style.transition = "0.3s";
})

pointsearch1.addEventListener("touchmove", function() {
    document.querySelector(".point-search-margin").style.marginLeft= "5px"
    document.querySelector(".point-search-hide").style.background = "#FFFFFF"
    pointsearch11.style.marginBottom = "6px";
    pointsearch11.style.width = "8px";
    pointsearch11.style.height = "8px";
})

pointhome1.addEventListener("touchstart", function() {
    document.querySelector(".point-home-hide").style.background = "#FFAB91"
    pointhome11.style.width = "30px";
    pointhome11.style.height = "3px";
    pointhome11.style.borderRadius = "10px";
    pointhome11.style.marginBottom = "11px";
    pointhome11.style.transition = "0.3s";
})

pointhome1.addEventListener("touchmove", function() {
    document.querySelector(".point-home-hide").style.background = "#FFFFFF"
    pointhome11.style.marginBottom = "6px";
    pointhome11.style.width = "8px";
    pointhome11.style.height = "8px";
    })


</script>

</body>

</html>



{% endblock %}